# Hashtags

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ast

#### Notes

To pull hashtags from captions was simple matter of split each caption by space and selecting strings with '#' at index 0.

To add on hashtags from first comment:

In [6]:
df = pd.read_csv('media_objects1232019.csv')
df = df[1:]
df.drop(['media_object_id', 'media_url'], axis = 1, inplace = True)

In [129]:
df.head()

,timestamp,caption,comments,comments_count,media_type,like_count,engagement,impressions,reach,saved,video_views
1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN
2,2014-11-10 22:52:51+00:00,"Our #cheesesafe is a beautiful, simple gift fo...",NaN,0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN
3,2014-11-10 23:04:47+00:00,This rich bloomy rind cheese was made in a @Ch...,{'data': [{'timestamp': '2016-09-09T03:22:34+0...,2.0,IMAGE,10.0,NaN,NaN,NaN,NaN,NaN
4,2014-11-10 23:19:00+00:00,Our #cheesesafe with an awesome leather handle...,NaN,0.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN
5,2014-11-10 23:43:33+00:00,The goats want to know.....where's the @Cheese...,NaN,0.0,IMAGE,1.0,NaN,NaN,NaN,NaN,NaN

In [7]:
def get_ht(line):
    return [word[1:] for word in line.split() if word[0] == '#']

#Get hashtags from the caption column
fr_cap = [get_ht(line) for line in df['caption'].astype(str).values]
#Get hashtags from the first comment in the comments column
fr_com = [get_ht(ast.literal_eval(line)['data'][0]['text'])\
                              if type(line) == str else [] for line in df['comments'].values ]
#Extend each list in the 'from captions' list by the values in the 'from comments' list
[fr_cap[i].extend(fr_com_i) for i, fr_com_i in enumerate(fr_com)]

#Add this as a column to the df
df['hashtags'] = fr_cap

In [68]:
exploded = df.explode('hashtags')
hashtags = exploded['hashtags'].value_counts()
#94 hashtags end in a period
len([value for value in hashtags.index[:-1] if value[-1] == '.'])

94

In [75]:
hashtags['cheesegrotto']

29

In [69]:
exploded['frequency'] = [hashtags[tag] if type(tag) == str else 0 for tag in exploded['hashtags'].values]

In [70]:
exploded.head()

,timestamp,caption,comments,comments_count,media_type,like_count,engagement,impressions,reach,saved,video_views,hashtags,frequency
1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,cheese,45
1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,cheesegrotto,29
1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,elegance,1
2,2014-11-10 22:52:51+00:00,"Our #cheesesafe is a beautiful, simple gift fo...",NaN,0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN,cheesesafe,13
2,2014-11-10 22:52:51+00:00,"Our #cheesesafe is a beautiful, simple gift fo...",NaN,0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN,cheese,45

In [59]:
top_20 = hashtags[:20].index

# RESUME HERE. Can get top 20 by reordering exploded df by frequency column somehow. Would be interesting to plot this as a time series.

# Then look up efficient ways to consolidate columns by hashtag. Might be a thing in the docs on .explode().

In [20]:
ht_df.shape

(5079, 12)

In [29]:
hashtags.index

Index(['cheeselove', 'cheeseforlife', 'linkinbio', 'fravorites', 'f52grams',
       'thatcheeseplate', 'creativityfound', 'feedfeed', 'cheesemaking',
       'eeeeeats',
       ...
       'ineedadrink', 'betterwithbacon', 'wheatfields', 'popup', 'Nice',
       'weouthere', 'pawlet', 'beaconnewyork', 'eatseasonal', ''],
      dtype='object', length=1296)

In [51]:
test = exploded.iloc[0]

In [48]:
exploded.reset_index(inplace = True)

In [ ]:
hashtags
comments_count
like_count
engagement
impressions
reach
saved
video_views

In [50]:
exploded.head()

,index,timestamp,caption,comments,comments_count,media_type,like_count,engagement,impressions,reach,saved,video_views,hashtags
0,1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,cheese
1,1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,cheesegrotto
2,1,2014-11-10 22:47:02+00:00,"@CheeseGrotto on a crisp fall eve, in a Manhat...",{'data': [{'timestamp': '2014-11-11T00:20:51+0...,1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN,elegance
3,2,2014-11-10 22:52:51+00:00,"Our #cheesesafe is a beautiful, simple gift fo...",NaN,0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN,cheesesafe
4,2,2014-11-10 22:52:51+00:00,"Our #cheesesafe is a beautiful, simple gift fo...",NaN,0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN,cheese