# Generic linear regression model

In [1]:
import numpy as np
import pandas as pd
import requests
import time
import matplotlib.pyplot as plt
import seaborn as sns
from pandasql import sqldf #for manipulating DataFrames with SQL style queries

In [9]:
df = pd.read_csv('media_objects.csv')
df.drop([0], axis = 0, inplace = True) #Drop column descriptors
#Drop unnecessary columns
df.drop(['media_object_id','timestamp', 'comments', 'media_url'], axis = 1, inplace = True)

In [10]:
df.head()

,caption,comments_count,media_type,like_count,engagement,impressions,reach,saved,video_views
1,"@CheeseGrotto on a crisp fall eve, in a Manhat...",1.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN
2,"Our #cheesesafe is a beautiful, simple gift fo...",0.0,IMAGE,6.0,NaN,NaN,NaN,NaN,NaN
3,This rich bloomy rind cheese was made in a @Ch...,2.0,IMAGE,10.0,NaN,NaN,NaN,NaN,NaN
4,Our #cheesesafe with an awesome leather handle...,0.0,IMAGE,8.0,NaN,NaN,NaN,NaN,NaN
5,The goats want to know.....where's the @Cheese...,0.0,IMAGE,1.0,NaN,NaN,NaN,NaN,NaN

### Engineering features

In [ ]:
## FROM STORY STORY


#Index the df with datetimes
df.set_index(pd.to_datetime(df['timestamp']), inplace = True)
#Reset time zone to US Eastern time
df.index = df.index.tz_convert('US/Eastern')

#Change remaining columns to int type
df = df.astype(int)